body {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em;
}

.searchBar {
    padding: 8px;
    margin-bottom: 10px;
}

.item {
    display: flex;
    align-items: center;
    height: 30px;
}

.item p {
    width: 100%;
    margin-left: 10px;
}

.disabled {
    color: #aaa
}

.selected {
    background: #ccc;
}


input[type="checkbox"] {
    cursor: pointer;
    margin-right: 10px;
}

.icon {
    padding-right: 5px;
}

.deleteButton {
    display: inline;
    float: right;
    cursor: pointer;
    margin-right: 5px;
}
