body {
    width: 300px;
}

.searchBar {
    padding: 5px;
    width: 80%;
}

.item {
    padding-bottom: 10px;
}

.enumerated {
    padding-left: 5px;
    display: inline;
}

.disabled {
    color: #aaa
}

.selected {
    background: #ccc;
}

.icon {
    padding-right: 5px;
}

.deleteButton {
    display: inline;
    float: right;
    cursor: pointer;
}